*.ts
!*.d.ts
src
tests
tsconfig.json
.vscode
.github
.gradle
node_modules
scripts
.idea
.vscode
coverage
tslint.json
tsconfig.json
tsconfig.*.json
MakeFile
vitest.config.ts
vitest.workspace.ts
.npmignore
.eslintignore
.huskyrc.js
.husky
.eslintrc.json
examples
tsconfig.tsbuildinfo
release-please-config.json
.release-please-manifest.json
biome.json
