name: NPM Release
on:
  push:
    branches:
      - main


env:
  NODE_VERSION: 20
  PNPM_VERSION: 10

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
    outputs:
      pr: ${{ steps.release.outputs.pr }}
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      sha: ${{ steps.release.outputs.sha }}

  merge-pull-request:
    if: ${{ needs.release-please.outputs.pr }}
    needs: release-please
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo '${{ toJson(needs.release-please.outputs) }}'
      - name: Checkout for Auto-Merge
        uses: actions/checkout@v4

        # gh cli needs git context to merge pr
      - name: Auto-Merge PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Merging ${{ fromJson(needs.release-please.outputs.pr).title }}"
          gh pr merge ${{ fromJson(needs.release-please.outputs.pr).number }} --admin -s -d

  publish:
    runs-on: ubuntu-latest
    needs: 
      - release-please
      - merge-pull-request
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          config-file: release-please-config.json
      # The logic below handles the npm publication:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
          scope: '@go-mondo'

      - uses: pnpm/action-setup@v4
        if: ${{ steps.release.outputs.release_created }}
        name: Install pnpm
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false

      - name: Get pnpm store directory
        if: ${{ steps.release.outputs.release_created }}
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        if: ${{ steps.release.outputs.release_created }}
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: pnpm install & build
        if: ${{ steps.release.outputs.release_created }}
        run: |
          pnpm install
          pnpm build
        # these if statements ensure that a publication only occurs when
        # a new release is created:
      - run: npm publish
        if: ${{ steps.release.outputs.release_created }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
